:root {


}
[data-md-color-primary=indigo] {
  --md-primary-fg-color: #476f00;
}
.md-typeset h1, .md-typeset h2 {
  /* font-weight: 300;
  letter-spacing: -.01em; */
  border: inset;
  border-radius: 15px;
  color: navajowhite;
}
.md-typeset h3 {

  margin: 1.6em 0 .8em;
  color: lightcoral;
  border: inset;
  border-radius: 15px;
}
.md-content {
 
  color: white;
}
.md-typeset code:not(.focus-visible) {

  color: red;
}
:root > * {



  /* // Code highlighting syntax color shades */
  
  /* --md-footer-bg-color: #155965;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3); */
}